
<footer class="fixed-bottom">
    <div class="text-center p-3" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.90));">
        &copy; @DateTime.Now.Year - AgileRap_Process2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer> 