@model AgileRap_Process2.Models.User

@{
}

@* <h1>Login</h1> *@

@* @if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["AlertMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
} *@
@* @using (Html.BeginForm("Login", "Logins", FormMethod.Post, new { id = "Loginform" }))
{
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p style="color:red;"> @ViewBag.Message </p>

            <div class="form-group">
                <label style="color:red;">*</label><label class="control-label"> Email: </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label style="color:red;">*</label><label class="control-label"> Password: </label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <br />
            <div>
                <a asp-action="Register" asp-controller="Logins">Register</a>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@

<html>
<head>
    <link rel="stylesheet" href="~/css/style101.css" />
</head>
<body>

    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h3>LOGIN</h3>
                </div>
            </div>
            @using (Html.BeginForm("Login", "Logins", FormMethod.Post, new { id = "Loginform" }))
            {
                <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <button>login</button>
                <p class="message">Not registered? <a asp-action="Register" asp-controller="Logins">Create an account</a></p>
            }

        </div>
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@TempData["AlertMessage"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</body>
</html> 
