* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    /*background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);*/
    /*background-image: linear-gradient(to right, #d3cce3, #e9e4f0);*/ /* Feather style */
    /*background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);*/
    background-color: #b6fbff;
    background-image: linear-gradient(to bottom, #b6fbff, #83a4d4);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

    .container .form {
        padding: 2rem;
    }

.topics {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form input {
    height: 50px;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

    .form input:focus {
        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }

.form a {
    font-size: 16px;
    color: #6666cc;
    text-decoration: none;
}

    .form a:hover {
        text-decoration: underline;
    }

.form input.button {
    color: #fff;
    /*    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);*/
    /*background-color: #9FACE6;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);*/
    background-color: #b6fbff;
    background-image: linear-gradient(to left, #b6fbff, #83a4d4);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.0rem;
    cursor: pointer;
    transition: 0.4s;
}

    .form input.button:hover {
        /*background: #74EBD5;*/
        background: #83a4d4;
    }

.register {
    font-size: 16px;
    text-align: center;
}

    .register label {
        color: #333399;
        cursor: pointer;
    }

        .register label:hover {
            text-decoration: underline;
        }
